/* journal-list */
.journal-list {
  padding-top: 2rem;
  height: 85%;
  width: 90%;
}
.journal-holder {
  width: 95%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.goal-button-holder {
  display: flex;
  flex-direction: row;
  justify-content: revert;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: scroll;
}
.button-holder {
  margin: 0.3rem;
}
.goal-button {
  width: max-content;
  height: 2.5rem;
}
.no-journals {
  text-align: center;
  color: #96a2bc;
  font-size: 1.2rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

/* journal-modal */

/* journal list item */
/* change card color for journal category */
.journal-card .Flexibility .MuiCard-root {
  margin: 0.5rem !important;
  border: 2px solid #d9f5df;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 0.05px #7d8caa61;
}
.journal-card .Strength .MuiCard-root {
  margin: 0.5rem !important;
  border: 2px solid #c6ebfb;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 0.05px #7d8caa61;
}
.journal-card .Endurance .MuiCard-root {
  margin: 0.5rem !important;
  border: 2px solid #ffeced;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 0.05px #7d8caa61;
}
.journal-card .Cardio .MuiCard-root {
  margin: 0.5rem !important;
  border: 2px solid #edd0ff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 0.05px #7d8caa61;
}
.MuiCard-root {
  min-width: 0px !important;
}

.text-cursor {
  cursor: pointer !important;
}
.MuiCircularProgress-root {
  width: 100px !important;
  height: 100px !important;
  z-index: -3;
  position: relative;
  border-radius: 50%;
}

.css-1rn30mb-MuiCircularProgress-root {
  z-index: 3;
}

.MuiCardActions-spacing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}
/* .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* success modal */
#modal-show {
  width: 50%;
  height: 20vh;
  border-radius: 20px;
  border: none;
  margin-inline: 12.5%;
}

/* add-journal modal */
#modal-journal-show {
  width: 40%;
  height: 60vh;
  border-radius: 20px;
  border: none;
  margin-inline: 12.5%;
}
.journal-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-sections {
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#category {
  width: 100%;
  font-size: 1rem;
  border: none;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #3f499c;
  text-align: center;
}
#category:focus {
  outline-style: none;
}
#name {
  width: 100%;
  font-size: 1rem;
  border: none;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #3f499c;
  text-align: center;
}

#create-journal-button {
  background: #96a2bc !important;
  color: #fff5e7;
}

/* journal list item */
.journal-goal-holder {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.journal-info {
  width: 60%;
  height: 90%;
}
.journal-card {
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.journal-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #33345b;
  width: 100%;
  height: 10rem;
}

.journal-date {
  margin-bottom: 1rem;
  text-align: start;
}
.journal-entry {
  text-align: start;
  width: 100%;
  height: 80%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.journal-entry:hover {
  cursor: pointer;
}
.goal-name {
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
.journal-emotion {
  text-align: center;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 10px;
}
.journal-card-content .Speed {
  background: #ffeee8;
}
.journal-card-content .Flexibility {
  background: #e2f2ed;
}
.journal-card-content .Strength {
  background: #e7edfc;
}
.journal-card-content .Endurance {
  background: #faf7e6;
}
.journal-card-content .Cardio {
  background: #f2e1fc;
}

#journal-category {
  margin-top: -0.5rem;
  text-align: start;
  text-transform: uppercase;
}
.icon-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  width: 20px;
  border-radius: 20%;
  /* background: rgb(225, 225, 225); */
  padding: 0.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

/* add journal modal*/
#modal-journal-show {
  width: 50%;
  height: 85vh;
  border-radius: 20px;
  border: none;
  margin-inline: 12.5%;
}
.add-journal-icon-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.add-journal-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  border: none;
  border-radius: 10px;
  margin: 0.5rem;
  z-index: 9999;
  background-color: #dde6f1 !important;
}
.add-journal-icon {
  width: 25px;
  padding: 0.5rem;
}

.journal-form {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.journal-form-label {
  width: 100%;
  height: 3rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  background-color: #96a2bc;
  border-radius: 5px 5px 12px 12px;
  color: #fff5e7;
}

.selected {
  background: #80808055;
}

#goal {
  width: 100%;
  font-size: 1rem;
  border: none;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #3f499c;
  text-align: center;
}

.task-form {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}
.task-form-sections {
  height: 20%;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.task-entry {
  display: flex;
  align-items: center;
  text-align: start;
  width: 100%;
  height: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
  border: none;
  border-bottom: 1px solid #96a2bc;
}
.task-details-holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.task-details {
  width: 80%;
}

#create-task-button {
  background: #96a2bc !important;
  color: #fff5e7;
  margin-top: 0rem !important;
  height: 3rem !important;
}

/* task list */
#task-holder {
  height: 65%;
  padding-bottom: 4rem;
}

.modal-list {
  overflow-y: scroll;
  height: 90%;
  margin-bottom: 0.5rem;
}

.modal {
  height: 100%;
}
.no-tasks {
  text-align: center;
  color: #676b74;
  margin-top: 1rem;
  margin-bottom: 10rem;
}
.no-tasks-completed {
  text-align: center;
  color: #676b74;
  margin-top: 3rem;
  /* margin-bottom: 10rem; */
}

.completed-task-label {
  text-align: center;
  color: #96a2bc;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.completed-task-card {
  /* padding-left: 1rem; */
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-decoration-line: line-through;
  text-decoration-color: #96a2bc;
}
