/* dashboard holder */
.dash {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin-left: 25%;
}

/* header */
.dash.MuiPaper-root {
  border-radius: 10% 30% 50% 70%;
}
.header-holder {
  margin-bottom: -3rem;
  width: 100%;
  height: 12rem;
  /* border-radius: 10% 30% 50% 70%; */
  background: linear-gradient(
    114deg,
    #5272c7,
    #35509b,
    #3f499c,
    #3f499c,
    #35509b,
    #5272c7
  );
  background-size: 800% 800%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 100% 81%;
  }
  100% {
    background-position: 0% 20%;
  }
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blanchedalmond;
}

/* journal-list */
.journal-list {
  padding-top: 5rem;
  height: 100%;
  width: 100%;
  background-color: rgb(249, 252, 255);
  border-radius: 20px 20px 0px 0px;
}
.journal-holder {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.plus-svg {
  z-index: 1;
  transform: scale(3.5);
  background: linear-gradient(64deg, #5272c7, #3f499c);
  border-radius: 50%;
  /* margin-top: -2rem; */
  /* margin-bottom: 4rem; */
  color: white;
}

/* journal list item */
.MuiCard-root {
  min-width: 0px !important;
}
.journal-card {
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.journal-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgb(51, 52, 91);
  width: 100%;
}
/* .journal-card .Speed .MuiCard-root {
  border-top: 30px solid #ffeee8;
}
.journal-card .Flexibility .MuiCard-root {
  border-top: 30px solid #e7edfc;
}
.journal-card .Strength .MuiCard-root {
  border-top: 30px solid #e2f2ed;
}
.journal-card .Endurance .MuiCard-root {
  border-top: 30px solid #faf7e6;
}
.journal-card .Cardio .MuiCard-root {
  border-top: 30px solid #f2e1fc;
} */
.journal-date {
  margin-bottom: 1rem;
  text-align: start;
}
.journal-entry {
  text-align: start;
  width: 110%;
  height: 5rem;
}
.journal-info {
  width: 65%;
}
.goal-name {
  text-align: center;
  width: 70%;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
.journal-emotion {
  text-align: center;
  width: 70%;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 10px;
}
.journal-card-content .Speed {
  background: #ffeee8;
}
.journal-card-content .Flexibility {
  background: #e7edfc;
}
.journal-card-content .Strength {
  background: #e2f2ed;
}
.journal-card-content .Endurance {
  background: #faf7e6;
}
.journal-card-content .Cardio {
  background: #f2e1fc;
}

#journal-category {
  margin-top: -0.5rem;
  text-align: start;
  text-transform: uppercase;
}
.icon-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  width: 20px;
  border-radius: 20%;
  /* background: rgb(225, 225, 225); */
  padding: 0.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

/* add journal modal*/
#modal-journal-show {
  width: 50%;
  height: 85vh;
  border-radius: 20px;
  border: none;
  margin-inline: 12.5%;
}
.add-journal-icon-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.add-journal-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  border: none;
  border-radius: 10px;
  margin: 0.5rem;
  z-index: 9999;
}
.add-journal-icon {
  width: 25px;
  padding: 0.5rem;
}

.journal-form {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.journal-form-label {
  width: 100%;
  height: 3rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  background-color: #5272c7;
  border-radius: 5px 5px 12px 12px;
  color: blanchedalmond;
}

#create-journal-button {
  background: #3f499c !important;
}
.selected {
  background: rgba(128, 128, 128, 0.332);
}

#goal {
  width: 100%;
  font-size: 1rem;
  border: none;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #3f499c;
  text-align: center;
}
