/* dashboard holder */
.dash-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.dash {
  width: 100%;
  background-color: rgb(254, 254, 254);

  border-radius: 0px 20px 20px 0px;
}
/* sidebar */
#dash-side-bar .MuiPaper-root {
  border-radius: 20px 0px 0px 20px;
  height: 90vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MuiList-root {
  padding-top: 150% !important;
}

/* header-home */
.header-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  justify-content: center;
  width: 100%;
  /* background: linear-gradient(
    114deg,
    #5272c7,
    #35509b,
    #3f499c,
    #3f499c,
    #35509b,
    #5272c7
  ); */
  background-size: 800% 800%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 100% 81%;
  }
  100% {
    background-position: 0% 20%;
  }
}
.header-holder .MuiPaper-root {
  border-radius: 0px 20px 0px 0px;
  background: #ecf4fe;
  height: 8rem !important;
  box-shadow: 0px 1px 15px 0.05px rgba(116, 116, 116, 0.274);
}
.header-content {
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #667187;
}

/* goal-list */
.goal-list {
  padding-top: 2rem;
  height: 85%;
}
.goal-holder {
  width: 95%;
  height: 85%;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.plus-svg {
  z-index: 1;
  transform: scale(2.5);
  background: #7d8caa;
  border-radius: 50%;
  margin-top: -1rem;
  /* margin-bottom: 4rem; */
  color: white;
}

/* goal list item */
/* change card color for goal category */
.goal-card .Flexibility .MuiCard-root {
  margin: 1rem !important;
  background: #d9f5df;
  box-shadow: 0px 2px 15px 0.05px #7d8caa61;
}
.goal-card .Strength .MuiCard-root {
  margin: 1rem !important;
  background: #c6ebfb;
  box-shadow: 0px 2px 15px 0.05px #7d8caa61;
}
.goal-card .Endurance .MuiCard-root {
  margin: 1rem !important;
  background: #ffeced;
  box-shadow: 0px 2px 15px 0.05px #7d8caa61;
}
.goal-card .Cardio .MuiCard-root {
  margin: 1rem !important;
  background: #edd0ff;
  box-shadow: 0px 2px 15px 0.05px #7d8caa61;
}
.MuiCard-root {
  min-width: 0px !important;
}
/* .goal-card {
  margin-bottom: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: max-content;
  
} */
.goal-card-content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(51, 52, 91);
}
.text-cursor {
  cursor: pointer !important;
}
.MuiCircularProgress-root {
  width: 100px !important;
  height: 100px !important;
  z-index: -3;
  position: relative;
  border-radius: 50%;
}
#circle {
  color: rgb(255, 255, 255);
  border-radius: 50%;
  transform: scale(1.22);
  box-shadow: 0px 5px 10px 0.05px rgba(0, 0, 0, 0.274);
  position: absolute;
  width: 100%;
  height: 100%;
}

.css-1rn30mb-MuiCircularProgress-root {
  z-index: 3;
}

/* change progress bar color for goal category */
.goal-card-content .Flexibility .MuiCircularProgress-svg {
  color: #a4ddb5 !important;
  stroke-linecap: round;
}
.goal-card-content .Strength .MuiCircularProgress-svg {
  color: #8fcff2 !important;
  stroke-linecap: round;
}
.goal-card-content .Endurance .MuiCircularProgress-svg {
  color: #ffc0c6 !important;
  stroke-linecap: round;
}
.goal-card-content .Cardio .MuiCircularProgress-svg {
  color: #d3a6ee !important;
  stroke-linecap: round;
}
.MuiCardActions-spacing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}
/* .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* success modal */
#modal-show {
  width: 50%;
  height: 20vh;
  border-radius: 20px;
  border: none;
  margin-inline: 12.5%;
}

/* add-goal modal */
#modal-goal-show {
  width: 40%;
  height: 60vh;
  border-radius: 20px;
  border: none;
  margin-inline: 12.5%;
}
.form-label {
  width: 80%;
  height: max-content;
  text-align: center;
  margin-bottom: 2rem;
  background-color: #5272c7;
  border-radius: 5px 5px 12px 12px;
  color: blanchedalmond;
}
.goal-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-sections {
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#category {
  width: 100%;
  font-size: 1rem;
  border: none;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #3f499c;
  text-align: center;
}
#category:focus {
  outline-style: none;
}
#name {
  width: 100%;
  font-size: 1rem;
  border: none;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #3f499c;
  text-align: center;
}

#create-goal-button {
  background: #3f499c !important;
}

/* tasks modal */

#task-holder {
  width: 60vw !important;
  margin-inline: 5rem;
  border: none;
  border-radius: 10px;
}
.modal-list {
  margin-left: 1rem;
}
.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.task-checkbox {
  margin-right: 2rem;
}
