/* dashboard holder */
.dash {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin-left: 25%;
}

/* header */

.dash.MuiPaper-root {
  border-radius: 10% 30% 50% 70%;
}
.header-holder {
  margin-bottom: 5rem;
  width: 100%;
  /* border-radius: 10% 30% 50% 70%; */
  background: linear-gradient(64deg, #5272c7, #3f499c);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blanchedalmond;
}

/* goal-list */

.goal-holder {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* goal list item */
.goal-card {
  margin-bottom: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: max-content;
}
.goal-card-content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(51, 52, 91);
}

.text-cursor {
  cursor: pointer !important;
}

.MuiCircularProgress-root {
  width: 100px !important;
  height: 100px !important;
}
.MuiCircularProgress-svg {
  color: green !important;
  stroke-linecap: round;
}
.MuiCardActions-spacing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-top: 1rem;
}

/* success modal */
#modal-show {
  width: 50%;
  height: 20vh;
  border-radius: 20px;
  border: none;
  margin-inline: 12.5%;
}
