/* dashboard holder */
.dash {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin-left: 25%;
}

/* header */
.dash.MuiPaper-root {
  border-radius: 10% 30% 50% 70%;
}
.header-holder {
  margin-bottom: 2rem;
  width: 100%;
  /* border-radius: 10% 30% 50% 70%; */
  background: linear-gradient(
    114deg,
    #5272c7,
    #35509b,
    #3f499c,
    #3f499c,
    #35509b,
    #5272c7
  );
  background-size: 800% 800%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 100% 81%;
  }
  100% {
    background-position: 0% 20%;
  }
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blanchedalmond;
}

/* goal-list */
.goal-holder {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.plus-svg {
  z-index: 1;
  transform: scale(3.5);
  background: linear-gradient(64deg, #5272c7, #3f499c);
  border-radius: 50%;
  margin-top: -2rem;
  margin-bottom: 4rem;
  color: white;
}

/* goal list item */
.goal-card {
  margin-bottom: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: max-content;
}
.goal-card-content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(51, 52, 91);
}
.text-cursor {
  cursor: pointer !important;
}
.MuiCircularProgress-root {
  width: 100px !important;
  height: 100px !important;
}
.MuiCircularProgress-svg {
  color: green !important;
  stroke-linecap: round;
}
.MuiCardActions-spacing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}
/* .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* success modal */
#modal-show {
  width: 50%;
  height: 20vh;
  border-radius: 20px;
  border: none;
  margin-inline: 12.5%;
}

/* add-goal modal */
#modal-goal-show {
  width: 40%;
  height: 60vh;
  border-radius: 20px;
  border: none;
  margin-inline: 12.5%;
}
.form-label {
  width: 100%;
  height: max-content;
  text-align: center;
  margin-bottom: 2rem;
  background-color: #5272c7;
  border-radius: 5px 5px 12px 12px;
  color: blanchedalmond;
}
.goal-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-sections {
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#category {
  width: 100%;
  font-size: 1rem;
  border: none;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #3f499c;
  text-align: center;
}
#category:focus {
  outline-style: none;
}
#name {
  width: 100%;
  font-size: 1rem;
  border: none;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #3f499c;
  text-align: center;
}

#create-goal-button {
  background: #3f499c !important;
}
